[Unit]
Description=Take a still photo
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/birdboxes/snap.sh


