[Unit]
Description=PiWatcher Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pi/birdboxes/piwatcher.sh

[Install]
WantedBy=multi-user.target

