[Unit]
Description=Raspistill Socket
After=wg-quick@local.service
Requires=wg-quick@local.service

[Socket]
ListenStream=192.168.3.2:9999
Accept=yes

[Install]
WantedBy=multi-user.target

