[Unit]
Description=Wait long enough for WireGuard to start before starting raspivid

[Timer]
OnBootSec=5min
Unit=raspivid.socket

[Install]
WantedBy=timers.target

