#!/bin/bash

FILE=$(date +"{{ image_prefix }}_%FT%H-%M-%S.jpg")
LOCAL_PATH=/mnt/local/timelapse
REMOTE_PATH=/mnt/remote/{{ ansible_host }}/timelapse

/usr/bin/rpicam-still --mode 1640:1232:10 --tuning-file /usr/share/libcamera/ipa/rpi/vc4/imx219_noir.json --nopreview --width 1024 --height 768 --quality 75 -o $LOCAL_PATH/$FILE
chmod a-w $LOCAL_PATH/$FILE

if [ -d "$REMOTE_PATH" ]; then
    cp -p $LOCAL_PATH/$FILE $REMOTE_PATH/$FILE
fi
